.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: var(--main-background-color);
  border-radius: 10px;
  height: 30rem;
  gap: 5px;
  width: 20rem;
  padding: 5px;
  color: black;
}

.cardD {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color-dark);
  background-color: var(--main-background-color-dark);
  border-radius: 10px;
  height: 30rem;
  gap: 5px;
  width: 20rem;
  padding: 5px;
}

.tittle {
  display: flex;
  font-family: "Anton", sans-serif;
  font-weight: bold;
  height: 2rem;
  align-items: center;
  justify-content: center;
}

.tittleD {
  display: flex;
  font-family: "Anton", sans-serif;
  font-weight: bold;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: var(--text-color-dark);
}

.dev {
  font-style: italic;
}

.devD {
  font-style: italic;
  color: var(--text-color-dark);
}

.imgCont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
}

.img {
  width: 18rem;
  height: 10rem;
  border-radius: 3%;
  border: 0.3px solid black;
}
.imgD {
  width: 18rem;
  height: 10rem;
  border-radius: 3%;
  border: 1px solid var(--text-color-dark);
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  font-style: oblique;
  padding: 5px;
  height: 6rem;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
}

.descriptionD {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  font-style: oblique;
  padding: 5px;
  height: 6rem;
  border-top: 1px dashed var(--text-color-dark);
  border-bottom: 1px dashed var(--text-color-dark);
  color: var(--text-color-dark);
}

.tecnologies {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  font-weight: bold;
  padding: 3px;
  height: 5rem;
  border-bottom: 1px dashed black;
}
.tecnologiesD {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  font-weight: bold;
  padding: 3px;
  height: 5rem;
  border-bottom: 1px dashed var(--text-color-dark);
  color: var(--text-color-dark);
}

.link > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  border: 1px groove black;
  border-radius: 10px;
  padding: 4px;
  width: 6rem;
  transition: 0.4ms;
}
.link > a:hover {
  background-color: var(--navBar-background-color-light);
}
.linkD > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-color-dark);
  cursor: pointer;
  border: 1px groove var(--text-color-dark);
  border-radius: 10px;
  padding: 4px;
  width: 6rem;
  transition: 0.4ms;
}
.linkD > a:hover {
  background-color: var(--navBar-background-color-light);
}

.link {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}
.linkD {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}

@media (max-width: 480px) {
  .card {
    width: 30rem;
    height: 43rem;
    padding: 5px;
  }
  .imgCont {
    height: 150px;
  }

  .img {
    width: 15rem;
    height: 6rem;
  }

  .description {
    height: 15rem;
  }
  .tecnologies {
    height: 8rem;
  }

  .a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border: 3px groove black;
    padding: 4px;
    width: 6rem;
    transition: 0.4ms;
  }
  .a:hover {
    border: 3px groove white;
    background-color: #ffb80371;
  }

  .link {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
  }
}
