.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 18rem;
  min-width: 15rem;
  max-width: 18rem;
  height: 100vh;
  background-color: var(--navBar-background-color-light);
  align-items: center;
  animation: 1s anim-navbar ease;
  z-index: 102;
}
.navbarD {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 18rem;
  min-width: 15rem;
  max-width: 18rem;
  height: 100vh;
  background-color: var(--navBar-background-color-dark);
  align-items: center;
  animation: 1s anim-navbar ease;
  z-index: 102;
}

@keyframes anim-navbar {
  0% {
    opacity: 0;
    transform: translatex(-80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translatex(-40%);
  }
  100% {
    opacity: 1;
    transform: translatex(0%);
  }
}

.imgStop {
  background-color: var(--navBar-img-background-color);
  height: 15rem;
  border-radius: 50%;
  margin: 10px;
  padding: 5px;
  animation: none;
}

.imgStopD {
  background-color: var(--text-color-dar);
  height: 15rem;
  border-radius: 50%;
  margin: 10px;
  padding: 5px;
  animation: none;
  color: var(--text-color-dark);
}

.img {
  background-color: var(--navBar-img-background-color);
  height: 15rem;
  border-radius: 50%;
  margin: 10px;
  padding: 5px;
  animation: 3s anim-img-navbar ease infinite;
}

@keyframes anim-img-navbar {
  0% {
    /* opacity: 0; */
    transform: rotate(0deg);
  }
  20% {
    /* opacity: 0; */
    transform: rotate(10deg);
  }
  40% {
    /* opacity: 1; */
    transform: rotate(0deg);
  }
  60% {
    /* opacity: 1; */
    transform: rotatex(-10deg);
  }
  80% {
    /* opacity: 1; */
    transform: rotate(350deg);
  }
}
.arrowDiv {
  display: flex;
  flex-direction: row;
  height: 4rem;
  width: 7rem;
  position: absolute;
  right: 10px;
  top: 15.5rem;
}

.imgArrow {
  /* position: relative; */
  left: 5rem;
  height: 2rem;
  rotate: 150deg;
  transform: scaleX(-1);
  padding: 10px;
}

.textArrow {
  font-family: "Patrick Hand", cursive;
  font-size: medium;
  font-weight: 800;
  font-style: italic;
  padding: 3px;
  cursor: pointer;
  color:black;
}
.textArrow:hover {
  color: rgb(44, 41, 41);
}

.textArrowD {
  font-family: "Patrick Hand", cursive;
  font-size: medium;
  font-weight: 800;
  font-style: italic;
  padding: 3px;
  cursor: pointer;
  color: var(--text-color-dark);
}
.textArrowD:hover {
  color: white;
}

.img__input {
  display: none;
}

.linksSection {
  display: flex;
  height: 80%;
  width: 100%;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
}

.linksSectionD {
  display: flex;
  height: 80%;
  width: 100%;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
}

.links {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 550;
  color: black;
  border: 0.5px solid black;
  border-radius: 10px;
  height: 2rem;
  width: 8rem;
  background-color: var(--navBar-img-background-color);
}
.links:hover {
  transition-duration: 400ms;
  background-color: black;
  color: var(--navBar-img-background-color);
  border: 0.5px solid var(--navBar-img-background-color);
}

.linksD {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 550;
  color: var(--text-color-dark);
  border: 0.5px solid var(--text-color-dark);
  border-radius: 10px;
  height: 2rem;
  width: 8rem;
  background-color: var(--navBar-background-color-dark);
}

.linksD:hover {
  transition-duration: 400ms;
  background-color: var(--main-background-color);
}

/*Switch*/
.buttons {
  position: absolute;
  width: 4em;
  height: 4rem;
  bottom: 4em;
  left: 0.5em;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2rem;
  background-color: rgb(11, 9, 9);
  border: 2px solid transparent;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  z-index: 100;
  /* margin-top: 0.8em;
  margin-left: 0.8em; */
}

.btnTheme {
  height: 2rem;
  width: 1.8em;
  color: rgb(235, 225, 225);
}

.switchD {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.259);
  border: 2px solid rgb(146, 89, 89);
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  z-index: 100;
  /* margin-top: 0.8em;
  margin-left: 0.8em; */
  color: rgb(146, 89, 89);
}

.btnThemeD {
  height: 2rem;
  width: 1.8em;
  color: rgb(146, 89, 89);
}

@media (max-width: 540px) {
  .switch {
    margin-top: 0px;
    margin-left: 0px;
  }

  .switchD {
    margin-top: 0px;
    margin-left: 0px;
  }
}

/* language */

.switchLang {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2rem;
  background-color: rgb(11, 9, 9);
  border: 2px solid transparent;
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  z-index: 100;
  margin-top: 3em;
  font-family: "Permanent Marker", cursive;
  color: rgb(235, 225, 225);
}

.switchLangD {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.259);
  border: 2px solid rgb(146, 89, 89);
  border-radius: 50%;
  position: fixed;
  cursor: pointer;
  z-index: 100;
  margin-top: 3em;
  font-family: "Permanent Marker", cursive;
  color: rgb(146, 89, 89);
}

@media (max-width: 540px) {
  .switchLang {
    margin-bottom: 0px;
    margin-left:0px;
    margin-top: 0px;
    top: 2.5em;
  }
  .switchLangD {
    margin-top: 0px;
    margin-left: 0px;
    top: 2.5em;
  }
}

/*btn Hamburguesa*/
.nav__label,
.nav__input {
  display: none;
}

.nav__menu {
  width: 40%;
  display: flex;
  gap: 6.5rem;
  padding-left: 6.5rem;
  justify-content: center;
  align-items: center;
}

.btn_hmb {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 5rem;
  flex-direction: column;
  cursor: pointer;
  transition: 0.4s ease-out;
}
.btn_hmbD {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 5rem;
  flex-direction: column;
  cursor: pointer;
  transition: 0.4s ease-out;
  color: rgb(146, 89, 89);
}

.linea1,
.linea2,
.linea3 {
  height: 10px;
  background-color: rgb(26, 26, 26);
  border-radius: 5px;
  margin: 3px 0px;
  transition: all 400ms ease;
}
.linea1 {
  width: 50px;
}
.linea2 {
  width: 40px;
}
.linea3 {
  width: 30px;
}

.linea1D,
.linea2D,
.linea3D {
  height: 10px;
  background-color: rgb(146, 89, 89);
  border-radius: 5px;
  margin: 3px 0px;
  transition: all 400ms ease;
}
.linea1D {
  width: 50px;
}
.linea2D {
  width: 40px;
}
.linea3D {
  width: 30px;
}

@media (max-width: 540px) {
  .navbar,
  .navbarD {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    height: 5rem;
    border-radius: 0%;
    align-items: center;
    justify-content: center;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 3rem;
    height: 5rem;
    top: 0.5px;
    /* left: 0.5em; */
  }

  .img, .imgStop, .imgStopD {
    height: 4rem;
    /* position: none; */
    top: 1rem;
    left: 2em;
  }

  .arrowDiv {
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 7rem;
    position: absolute;
    right: 10px;
    top: 15.5rem;
  }
  
  .imgArrow {
    position: fixed;
    left: 15.3rem;
    top: 2.3rem;
  }
  
  .textArrow {
    position: fixed;
    left: 17.5rem;
    top: 2.3rem;
    font-size: small;
  }


  .textArrowD {
    position: fixed;
    left: 17.5rem;
    top: 2.3rem;
    font-size: small;
  }
  

  .btn_hmb,
  .btn_hmbD {
    position: fixed;
    top: 2px;
    right: 14px;
  }

  .nav__label {
    display: block;
    cursor: pointer;
  }

  .linksSection {
    flex-direction: column;
    height: 30em;
    width: 100%;
    gap: 3rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 5rem;
    background-color: var(--navBar-background-color-light);
    clip-path: circle(0 at center);
    transition: clip-path 0.4s ease-in-out;
  }
  .linksSectionD {
    flex-direction: column;
    height: 30em;
    width: 100%;
    gap: 3rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 5rem;
    background-color: var(--navBar-background-color-dark);
    clip-path: circle(0 at center);
    transition: clip-path 0.4s ease-in-out;
  }

  .nav__input:checked + .linksSection {
    clip-path: circle(100% at center);
  }
  .nav__input:checked + .linksSectionD {
    clip-path: circle(100% at center);
  }
}

