.skills {
    display: flex;
    align-items: center;
    background-color: var(--pages-background-color);
    width: auto;
    margin-left: 18rem;
    border-bottom: 1.5px dashed black;
    position: relative;
    animation: 2.4s anim-skills ease;
  }

  .skillsD {
    display: flex;
    align-items: center;
    background-color: var(--pages-background-color-dark);
    width: auto;
    margin-left: 18rem;
    border-bottom: 1.5px dashed var(--text-color-dark);
    position: relative;
    animation: 2.4s anim-skills ease;
  }

  @keyframes anim-skills {
    0% {
      opacity: 0;
      transform: translatex(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translatex(40%);
    }
    100% {
      opacity: 1;
      transform: translatex(0%);
    }
  }
  
  
  .section {
    padding: 2rem;
    border: 3px solid transparent;
    height: 100%;
    width: 100%;
  }
  
  
  .cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(3, 15rem); */
    /* padding: 5rem; */
  
  }
  .divCard {
    height: 12rem;
    width: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .imgCard {
    border: 1px solid black;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
  }

  .imgCardD {
    border: 2px solid var(--text-color-dark);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
  }

  .pCard {
    color: black;
  }

  .pCardD {
    color: var(--text-color-dark);
  }

  @media (max-width: 540px) {
    .skills {
      max-width: 100%;
      margin-left: 0rem;
      position: relative;
      justify-content: center;
    }
  
    .skillsD {
      max-width: 100%;
      margin-left: 0rem;
      position: relative;
      justify-content: center;
    }
  
    
    .section {
      width: 20rem;
    }
    
    
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 0.5fr);
      /* grid-template-rows: repeat(3, 15rem); */
      padding: 0rem;
    
    }
    .divCard {
      height: 8rem;
      width: 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    .imgCard {
      border: 1px solid black;
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
    }
  
    .imgCardD {
      border: 2px solid var(--text-color-dark);
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
    }
  
    .pCard {
      color: black;
    }
  
    .pCardD {
      color: var(--text-color-dark);
    }
  }