#root, html, body {
  width: 100%;
}

#root {
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  background-color: var(--main-background-color);
}

#root > div {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


@media (max-width: 540px) {
  #root, html, body {
    width: 100%;
}
}
